<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../utils/共用.css">
    <script src="../utils/mock-min.js"></script>
    <script src="../utils/jquery.min.js"></script>

</head>

<body>
    <div id="ds">欢迎来到登录页面</div>
    <div class="di1">
    <p><span>用户名:</span><input type="text" id='user'></p>
    <p><span>密码:</span><input type="password" id='password'></p>
    <button onclick="addById3()">登录</button>
</div>
</body>

</html>
<script src="../utils/md5.js"></script>
<script src="../utils/封装.js"></script>
<script src="../componnets/登录前端.js"></script>
<script src="../api/登录后端js.js"></script>